<h2>Bienvenue sur mon blog</h2>
<ul class="home-list">

    <% data.forEach(element=> { %>
        <article>
            <li>
                <a href="post/<%= element.Id %> ">
                    <%= element.Title %>

                </a>
                <p>
                    <%= element.Contents %>
                </p>
                <p>
                    <%= element.FirstName %>
                        <%= element.LastName %>
                </p>
                <p>
                    <%= element.CreationTimestamp.toLocaleDateString() %>
                </p>
            </li>
        </article>
        <% }) %>
</ul>